.main-header .logo {
  
font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 

}

.box-title {font-weight: bold;
  font-size:x-large;
}


 .logo_pic{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: auto;
    height: 100%;
    max-height: 20vh;
    

 }
    
.control-label{
  font-weight: bold;
  font-size: large;
}

.btn-primary{
  color:white;
  background-color:green;
}

.modal-body{
  text-align: center;
}

.btn-default{
color:white;
  background-color:green;
}

.shiny-tab-nj.active{
  color:green;
}

th{
  text-align:center;
}
.panel-body{
  background-color:#F5F5F5;
}

.modal-title{
 font-weight: bold;
  font-size: large;
color:green;

}


.info-box{
width:400px;
}

#drop_tut{
color:white;
background-color:green;
}

#drop_help{
color:white;
background-color:green;
}

.pulseWarningIns{
color:green;
}